* {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 100%;
    max-width: 100%;
}

#sidebar {
    background: grey;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#one {
    background: black;
}
#two {
    background: darkgray;
}
#three {
    background: grey;
}
#four {
    background: white;
}

#sidebar input {
	float: left;
}

#sidebar button {
	float: right;
}

#sidebar * {
	display: block;
	width: 100%;
}
