#main {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 10px;
}

#main * {
	text-align: center;
	width: 100%;
	display: block;
	font-family: sans;
}

#main div {
	font-size: 2em;
	line-height: 1.4em;
}

#main input {
	border: none;
	padding: 0;
	height: 4em;
}

#save {
	margin: 0 auto;
	display: block;
	font-size: 1.2em;
	line-height: 1.1em;
	padding: 0.5em 1em;
	border: none;
	background: #add8e6;
}

#save:active {
	background: #6aabc0;
}
