@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	width: auto;
	white-space:nowrap;
	line-height: 24px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin: 0px;
}
.center {
	text-align: justify;
	margin: 0 auto;
	display: block;
	text-align-last: center;
}
.settings {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
}
#about {
	margin-top: 15px;
	width: auto;
}
